html
    head
        title=title
        link(rel="stylesheet", href=styleUrl)
    body
        div(class="wrapper")
            h1 This main page.
            div(class="info-block")
            script(src=scriptUrl)