html
    head
        title=title
        link(rel="stylesheet", href=styleUrl)
    body
        div(class="wrapper")
            h1 This main page.
            div(class="info-block")
                div(class="accounts")
                input(id="inputAdd" name="input" placeholder="type twitter id for add")
                button(id="addAccountBtn") add
                input(id="inputRemove" name="input" placeholder="type twitter id for remove")
                button(id="removeAccountBtn") remove
    script(src=scriptUrl)